<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MyAdd" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9999/MyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_MyAdd" contract="ServiceReference1.MyAdd"
                name="BasicHttpBinding_MyAdd" />
        </client>
    </system.serviceModel>
</configuration>