<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doho.EntScheduler.ExtendJobs.EmailJob.EmailJobSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Doho.EntScheduler.ExtendJobs.EmailJob.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Doho.EntScheduler.ExtendJobs.EmailJob.EmailJobSettings>
            <setting name="LinkDialogURLs" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="From" serializeAs="String">
                <value />
            </setting>
        </Doho.EntScheduler.ExtendJobs.EmailJob.EmailJobSettings>
        <Doho.EntScheduler.ExtendJobs.EmailJob.Settings>
            <setting name="LinkDialogURLs" serializeAs="String">
                <value />
            </setting>
        </Doho.EntScheduler.ExtendJobs.EmailJob.Settings>
    </userSettings>
</configuration>