
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form id="frm" action="/Auth/Login">
    <label for="UserName"/><input type="text" name="UserName" id="UserName" />
    <label for="Password"/><input type="password" name="Password" id="Password"/>
</form>

